<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Subway Israel Landing Page">
    <meta name="author" content="Subway Israel">

    <title>SUBWAY® in Israel - זכיינות בסאבווי ישראל</title>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/scripts/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="mainContainer">
      <div id="logoDiv">
        <img src="/images/subway_logo.png" width="250px" height="75px">
      </div>

      <div id="mainHeader">
        <p class="smallP">הרשת המובילה בעולם ממשיכה לגדול</p>
        <p class="largeP"><strong>יותר מ-41,000 מסעדות ב-104 מדינות</strong></p>
      </div>

      <div id="secondaryContainer">
        <div id="tabs">
          <div class="tab" id="tabInfoDiv">
            <span>זכיינות</span>
          </div>
          <div class="tab" id="tabDecorDiv">
            <span>המסעדות שלנו</span>
          </div>
          <div class="tab" id="tabStoriesDiv">
            <span>זכיינים מספרים</span>
          </div>
          <div class="tab" id="tabAboutDiv">
            <span>מי אנחנו</span>
          </div>
        </div>

        <div id="pages">
          <div class="page" id="infoDiv"> 
            
            <div id="infoHeader">
              <div id="infoHeaderMain">
                <span>?תפס אותך הרעב להצליח</span>
              </div>
              <div id="infoHeaderSecond">
                <span><strong>דרושים זכיינים</strong></span>
              </div>
            </div>

            <div id="infoLogo">
              <img src="/images/subway_logo.png" width="250px" height="75px">
            </div>

            <div id="infoUnderLogo">
              <span><strong>רשת המסעדות המובילה בעולם מתרחבת</strong></span>
            </div>

            <div id="generalInfo">
              <span dir="rtl">47 שנות ניסיון. 41,000 מסעדות ב-104 מדינות</span><br/>
              <span dir="rtl">השקעה נמוכה, תפעול פשוט. הצלחה עולמית</span>
            </div>

            <div id="moreInfo">
              <span id="moreMain"><strong>מס' הזכיונות מוגבל, לפרטים נוספים גלנדה: 050-597-7120</strong></span>
              <span id="moreSecond">sales@subwayisrael.com - www.subway.com</span>
            </div>

            <div id="legalInfo">
              <span><strong>SUBWAY</strong> is a registered trademark of Doctor's Associates Inc. 2014</span><br/>
              <span>*More locations then any other QSR.</span>
            </div>

          </div>

          <div class="page" id="decorDiv">
            <div id="decorHeader">
              <span>הסניפים שלנו מעוצבים באופן מרשים ומזמין</span>
            </div>
            <table id="decorGallery">
              <tr>
                <th class="decorPicContainer">
                  <div class="decorPic">
                    <img src="/images/metro1.jpg" width="100%" height="100%">
                  </div>
                  <div class="decorPicText"></div>
                </th>
                <th class="decorPicContainer">
                  <div class="decorPic">
                    <img src="/images/metro2.bmp" width="100%" height="100%">
                  </div>
                  <div class="decorPicText"></div>
                </th> 
              </tr>
              <tr>
                <th class="decorPicContainer">
                  <div class="decorPic">
                    <img src="/images/metro3.bmp" width="100%" height="100%">
                  </div>
                  <div class="decorPicText"></div>  
                </th>
                <th class="decorPicContainer">
                  <div class="decorPic">
                    <img src="/images/metro4.jpg" width="100%" height="100%">
                  </div>
                  <div class="decorPicText"></div>
                </th>
              </tr>
            </table>
          </div>

          <div class="page" id="storiesDiv">
            <div class="storyContainer">
              <div class="storyPic left">
                <img src="/images/brad_harris.jpg" width="100%" height="100%">
              </div>
              <div class="storyCaption left">
                <p>בראד האריס, זכיין</p>
                <p>ארה"ב, 12 חנויות</p>
              </div>
              <div class="storyText left">
                <span>עבדתי ברשת סאבווי שבע שנים כשכיר, בתחילה כאמן כריכים ובסופו של דבר כמנהל חנות. ניתנה לי הזדמנות לעבוד כמנהל אזור ולפקח על מס' רב של מסעדות. במהלך העבודה נחשפתי לסאבווי והבנתי כי זכיינות בסאבווי היא הזדמנות עסקית גדולה. פתיחת 5 המסעדות הראשונות הייתה בשבילי כמו חלום שהתגשם. שמונה שנים מאוחר יותר ואני הבעלים של 12 מסעדות. השיטה של סאבווי היא עסק מלהיב ומשתלם</span>
              </div>
            </div>
            <div class="storyContainer">
              <div class="storyPic right">
                <img src="/images/chris_scott.jpg" width="100%" height="100%">
              </div>
              <div class="storyCaption right">
                <p>כריס סקוט, זכיין</p>
                <p>בריטניה, 6 חנויות</p>
              </div>
              <div class="storyText right">
                <span>פתחתי את סניף הסאבווי הראשון שלי לפני כ-6 שנים. למרות שבאותה נקודת זמן מותג סאבווי בבריטניה עוד היה "בחיתוליו", הייתה לי משיכה למותג בשל ההצלחה המוכחת שלו בשוק המזון המהיר בצפון ארה"ב. הייתי נרגש ושמח על ההזדמנות להגדיל את העסק שלי באמצעות מותג סאבווי בבריטניה. הזיכיון של סאבווי מאפשר לאנשים רגילים להפוך לבעלי עסקים ללא הצורך בהשקעת הון גדול, או ניסיון קודם במזון. אני ממשיך לפתח את העסק שלי לצד סאבווי ומצפה לפתיחת חנויות רבות נוספות בעתיד</span>
              </div>
            </div>
          </div>

          <div class="page" id="aboutDiv"> 
            <div id="aboutHeader">
              <span>למה להצטרף לסאבווי</span>
            </div>
            <div id="aboutContent">
              <p>עם יותר מ-41,000 סניפים ביותר מ-104 מדינות, סאבווי הוא מותג כריכי הסאב הגדול בעולם, ומוביל בתחומו בהתפתחות לשווקים בינלאומיים</p><br/>
              <p>הסניף הבינלאומי הראשון של סאבווי נפתח בבחריין ב-1984. מאז, סניפי סאבווי נפתחו בכל רחבי העולם, החל מארגנטינה ועד לזמביה</p><br/>
              <p>איפה שלא נפתחת מסעדת סאבווי, התפריט העיקרי נשאר דומה. עם זאת, תמיד ישנה התחשבות בטעמים המקומיים. מטיילים בכל רחבי העולם יודעים לצפות לאיכות בלתי מתפשרת בכל סניף שאליו יכנסו, בלי קשר למדינה בה הם נמצאים. אתה יכול להינות מכריך עוף עם ירקות טריים בג'מייקה, לקחת טיסה לניו זילנד ולהינות מבדיוק אותו כריף עוף</p><br/>
            </div>
            <div class="contactDetails" id="contact1">
              <p><strong>GG Development LTD</strong></p>
              <p>Glenda Graham</p>
              <p>Natan Komoy 13/5, Haifa</p>
              <p>Phone: 054-724-2906</p>
              <p>Fax: 04-814-6088</p>
            </div>
            <div class="contactDetails" id="contact2">
              <p><strong>Subway International</strong></p>
              <p>Stella Moskis</p>
              <p>191 Avenue Aristide Briand, France</p>
              <p>Phone: +33 1 41 98 60 03</p>
            </div>
          </div>

        </div>
      </div>

      

      <div id="contactFormDiv">
        <div id="formHeader">
          <span>לפרטים נוספים</span>
        </div>
        <form>
          
          <input type="text" name="name" id="name" placeholder="שם מלא" autocomplete="off"/><br/><br/>

          <input type="text" name="gender" id="gender" placeholder="מין" autocomplete="off"/><br/><br/>

          <input type="text" name="age" id="age" placeholder="גיל" autocomplete="off"/><br/><br/>

          <input type="text" name="phone" id="phone" placeholder="מס' טלפון" autocomplete="off"/><br/><br/>

          <input type="text" name="email" id="email" placeholder="כתובת דוא''ל" autocomplete="off"/><br/><br/>

          <input type="text" name="city" id="city" placeholder="איזור מגורים" autocomplete="off"/><br/><br/>

          <input type="text" name="job" id="job" placeholder="עיסוק נוכחי" autocomplete="off"/><br/><br/>

          <input class="button" type="submit" value="שלח"/>
        </form>
      </div>
    </div>
  
  </body>
</html>
{% endautoescape %}